.home {

   // background-color: rgb(218, 83, 83);
    width: 100%;
    height: 100vh;
    min-width: fit-content;

    >div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
        justify-content: space-evenly;
        flex-direction: row;
        background-color: rgb(204, 216, 236);
        height: 100%;

        >.hometext {
            //background-color: antiquewhite;
            width: 30%;
            margin: 1rem;
            width: fit-content;
            line-height: 0.8;

            >p {
                font-size: 2rem;
                font-weight: 500;
            }

            >h1 {
                font-size: 4em;
                letter-spacing: 4px;

            }

            >h3 {
                font-size: 2rem;

            }

            >.btn {
                padding: 8px 12px;
                font-size: 1rem;
                font-weight: bold;
                border-radius: 10px;
                background-color:  rgb(121, 133, 224);
                border: 1px solid black
            }
           .btn:hover{
                 color: white;
                background-color: black;
            }

            .icon {
                margin-left: 0.5rem;
                padding: 0.5rem;
                background-color:  rgb(121, 133, 224);
                border-radius: 10px;
                border: 1px solid black;
            }
            .icon:hover{
                color: white;
               background-color: black;
           }

        }

        >.home-img {

            border-radius: 18rem 10rem 12rem 11rem;
            width: 32%;
            overflow: hidden;

            >div {
                >img {
                    width: 100%;
                    background-size: contain;
                    background-position: center;
                    overflow: hidden;

                }
            }
        }

        @media (max-width: 1000px) {
            flex-direction: column-reverse;
            line-height: 0.8;
            //height: fit-content;
        }

    }

    .git {
        position: fixed;
        bottom: 6rem;
        left: 1rem;
        font-size: 1.8rem;
        border: 1px solid black;
        border-radius: 50%;
        z-index: 99;
        >a{
              color: black;
        }
    }

    .link {
        position: fixed;
        bottom: 2.8rem;
        left: 1rem;
        font-size: 1.8rem;
        border: 1px solid black;
        border-radius: 50%;
        z-index: 99;
        >a{
             text-decoration: none;
             color: black;
        }
    }
}